
    body{
      background-image: url(./assetes/images/s2.jpg);
      background-size: cover;
      margin-left: 95px;
    
    }
    .container{
      text-align: center;
      width: 320px;
      /* border: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;*/
      margin-left: 600px; 
        
    }
    form {
      margin-bottom: 22px;
    background-color: rgb(98, 98, 255);
    
    }
    input{
    border: 2px solid black;

  }
  h2{
    text-align: center;
    margin-right: 75px;
    ;
  }
  .field {
  border: 2px solid black;
  padding: 8px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.field:hover{
  background-color:cyan;
  border-radius: 5px;
}
input:hover{
  border-radius:5px ;
}
.btn:hover{
  background-color: blueviolet;
  color: white;
}
#btn{
  background-color:blueviolet;
 font-size: 18px;
 margin-right: 15px;
}
table,th{
  text-align: center;
  margin-left: 500px;

  border: 2px solid black;
  width: 500px;
  background-color: lightblue;
  color:crimson;
}
tr,td{
   background-color: lightblue;
  color:indigo;
}
h2{
  color:white ;
}
   .confirm-btn {
    background-color: green;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
  }
  .cancel-btn {
    background-color: red;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;

  }
