  body{
        background-color:cadetblue;
        background-image: url(/assetes/images/form.jpg);
      }
      .container {
        width: 430px;
        height: 400px;
        
      }
     form{
      margin-left: 55px;
      
      
      color:rgb(254, 248, 242);
      width: 450px;
     }
     table :hover{
      background-color: lightgray;
      color: darkblue;

    }

table,th,td{
      border: 2px solid black;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
      
     }    
     button{
      margin-top: 25px;
     }
    h1{
      color:rgb(254, 248, 242);
      margin-left: 138px;
    }
    h1:hover{
      background-color: lightgray;
      color: darkblue;
    }