

      body {
        background: #000000; 
        font-family: Arial, sans-serif;
        color: white;
      }

      #timer {
        width: 350px;
        margin: 80px auto;
        padding: 20px;
        background: #0f0f0f; 
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
      }

      label {
        display: block;
        margin-bottom: 5px;
      }

      .input {
        margin-bottom: 15px;
      }

      input {
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        border: none;
        background: #1a1a1a;
        color: white;
      }
.heading{
  color:white;
  text-align: center;
  margin-top: 100px;
}

      button {
        margin-right: 5px;
        margin-top: 10px;
      }

      #btn {
        background: #2ecc71; 
        color: black;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }

      #pau {
        background: #f1c40f; 
        color: black;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }

      #res {
        background: #e74c3c; 
        color: white;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }

      #clock {
        text-align: center;
        margin-top: 30px;
        font-size: 40px;
      }

      
      .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
      }

      .modal-content {
        background: #121212;
        padding: 25px;
        width: 380px;
        margin: 15% auto;
        border-radius: 10px;
        text-align: center;
        color: white;
        box-shadow: 0 0 25px rgba(0, 255, 0, 0.2);
      }

      #closeModal {
        float: right;
        cursor: pointer;
        font-size: 28px;
        color: #ff4d4d;
      }
    