    #num1{
        width:325px;
        height:40px;
        margin-top:15px;
        
    }
    .container{
        
        width: 350px;
        height:384px;
        border:2px solid black;
        padding:0px;
        border-radius: 5px;
        
        
    }
    button{
        width:50px;
        height:50px;
        margin:5px;
        font-size:20px;
        font-weight:bold;
        margin-left: 23px;
        background-color: rgb(0, 251, 255) ;
    }
    button:hover{
        background-color: gray;
        color:white;
        border-radius: 5px;
    }
    h1{
        margin-top:100px;
        text-align: right;
        color:white;
        margin-left: 3px;

        }
        h1:hover{
            text-shadow: 2px 2px 5px black;
        }
        #num1{
            text-align: right;
            font-size: 15px;
        }
        #num1:hover{
            
            border-radius:10px;
            
        }
        body{
            background-color: rgb(26, 125, 147);
            background-image: url(./assets/images/ChatGPT\ Image\ Nov\ 24\,\ 2025\,\ 12_24_01\ AM.png);
        }
        form:hover{
            /* box-shadow: 5px 10px 18px #888888; */
            /* border-radius:10px; */
            background-color: black;
            background-color: rgb(26, 125, 147);
            /* border:2px solid aqua; */

        }
