      body{
        background-image: url("../images/tictak.jpg");
        /* background-repeat: no-repeat; */
            background-size: cover;
      }
      .container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  gap: 5px;
  padding: 10px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
     button {
        width: 100px;
        height: 90px;
        font-size: 24px;
        padding: 5px;
     }
h1 {
  margin-bottom: 10px; /* reduce unnecessary space */
}
      .tile{
        background-color:lightseagreen;
   
      }
      tile:hover
      {
        border: 4px solid black;
        border-radius: 10px;
        background-color:rgb(133, 189, 224);
         transition: border-radius 0.5s ease ,background-color 0.2s ease;
         
      }
      h1,h5 {
        margin-bottom: 50px;
        margin-left: 7px;
            text-shadow: rgb(0, 255, 224) 0px 0px 22.9873px, rgb(0, 230, 249) 0px 0px 45.9745px;
    transform: translateY(-7.98727px);

      }
      .X{
        margin-top: 15px;
        background-color:cadetblue;
        width: 50px;
        height: 50px;
      }
       .O{
        margin-top: 15px;
        background-color:cadetblue;
        width: 50px;
        height: 50px;
      }
      .x-color{
        background-color: red;
        color: white;
      }
      .o-color{
        background-color: green;
        color:white;
      }
      .start{
        background-color:purple;
        color: black;
        border-radius: 35px;
        transition: border-radius 0.6s ease, background-color 0.5s ease;
        color: white;
      }
 
#xscore{
  color:lightgreen;
 

}
