  body {
    background-color: #f8f9fa;
    font-family: "Segoe UI", Tahoma, sans-serif;
    padding: 20px;
       background-image: url("../images/office.jpg");
    background-size:cover;
    background-position: center;
    
  }

  h2 {
    margin-bottom: 20px;
    font-weight: 600;
    color:aqua;
  }
  h2:hover {
    color: red;
  }

  
  .filter-box {
    background: #ffffff;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #dee2e6;
    margin-bottom: 20px;
  }

  
  table {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-radius: 6px;
    overflow: hidden;
  }

  thead  {
    background-color: #343a40;
    color: #ffffff;
  }
  tbody {
    background-color:skyblue;
    color: black;
  }

  th, td {
    padding: 10px 12px;
    border-bottom: 1px solid #dee2e6;
    text-align: center;
  }

  tbody tr:hover {
    background-color: blue;
  }

  
  .btn {
    padding: 4px 10px;
    font-size: 14px;
  }

  
  a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #0d6efd;
    font-weight: 500;
  }

  a:hover {
    text-decoration: underline;
  }