
        body {
            background: #0d0d0d;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 40px;
            text-align: center;
        }

        h1 {
            margin-bottom: 30px;
            text-shadow: 0 0 10px #00eeff;
        }

        .box {
            background: #1a1a1a;
            width: 350px;
            margin: auto;
            padding: 25px;
            border-radius: 12px;
            box-shadow: 0 0 15px #0ff4;
        }

        input {
            width: 30%;
            padding: 12px;
            border-radius: 8px;
            border: none;
            outline: none;
            font-size: 16px;
            margin-bottom: 20px;
            background: #222;
            color: white;
        }

        button {
            background: #00eeff;
            color: black;
            border: none;
            padding: 10px 18px;
            font-size: 16px;
            border-radius: 8px;
            cursor: pointer;
            font-weight: bold;
            transition: 0.3s;
        }

        button:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px #00eeff;
        }

        #result {
            margin-top: 20px;
            font-size: 22px;
            font-weight: bold;
        }


    
