
      body {
        background-image: url(./assetes/images/e2.jpg);       
        background-size: cover;
        margin-left: 99px;
      }
      label,
      h1 {
        font-weight: bold;
        text-align: center;
      }
      h1 {
        color: snow;
        margin-right: 75px;
      }
      form {
        background-color: lightblue;
        padding: 10px;
        width: 300px;
        text-align: center;
        margin-left: 590px;
      }

      table {
        text-align: center;
        border: 2px solid black;
        margin-left: 480px;
        color: gold;
        background-color: rgb(10, 84, 153);
        font-size: 18px;
      }
      input {
        background-color: lightyellow;
      }
      input:hover {
        background-color: lightskyblue;
      }
      #btn {
        background-color: white;
        font-weight: bold;
      }
      #btn:hover {
        background-color: lightgreen;
        cursor: pointer;
      }
      .confirm-btn {
    background-color: green;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
  }
  .cancel-btn {
    background-color: red;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
  }

    
